<h2 class="survey-title">Survey Dashboard</h2>

<form class="dashboardtable">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Title</th>
        <th>Question</th>
        <th>Type</th>
        <th>Answer</th>
      </tr>
    </thead>
    <tbody id="result-list">
      <tr data-results-id="{{id}}">
        <td>{{id}}</td>
        <td>{{id}}</td>
        <td>{{id}}</td>
        <td>{{id}}</td>
      </tr>
      </script>
    </tbody>
  </table>
</form>
