<h2 class="survey-title">Survey Dashboard</h2>

<form class="dashboardtable">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Survey</th>
        <th>Question</th>
        <th>Result</th> <!-- result buttons -->
        <th>URL</th>
        <th>CRUD IT</th>
      </tr>
    </thead>
    <tbody id="result-list">
      {{#survey.surveys}}
      <tr data-results-id="{{this.id}}">
        <td><a>{{this.title}}</a></td>
        <td>
          {{#this.questions}}
            {{this.text}}
          {{/this.questions}}
        </td>
        <td>
          <span class="pull-left">
            <button class="btn btn-xs btn-info">
              <span class="result"> Result</span>
            </button>
          </span>
        </td>
        <td>
          <a href="http://localhost:3000/surveys/{{this.id}}" target="_blank">Let your friends take it a'vey</a> <!-- http://take-a-vey.com/surveys/ -->
        </td>
        <td>
          <span class="pull-right">
            <button class="btn btn-xs btn-info">
              <span class="glyphicons glyphicons-pencil"> UPDATE</span>
            </button>
            <button class="btn btn-xs btn-warning delete-button" data-results-id="{{this.id}}">
              <span class="glyphicon glyphicon-trash"> DELETE</span>
            </button>
          </span>
        </td>
      </tr>
      {{/survey.surveys}}
      </script>
    </tbody>
  </table>
</form>
